.container {
  border-radius: 0.6rem;
  background-color: var(--bg-secondary);
  /* min-height: 200px; */
  padding: 1rem 0.8rem;
}

.forecast-list {
  display: flex;
  flex-direction: row;
  margin: 0.4rem 0;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 0%;
  margin: 0.7rem 0;
  justify-content: center;

  .time,
  .card-temp {
    text-align: center;
  }
}
.card:not(:last-child) {
  border-right: 0.8px solid rgba(154, 209, 237, 0.193);
}

.card-icon {
  height: 100px;
  width: 100px;

  img {
    height: 100%;
    width: 100%;
  }
}

.card-icon.md {
  display: none;
}

.card > .time {
  font-weight: 800;
  font-size: 13px;
  color: var(--text-light);
  word-spacing: 1.5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card-temp {
  font-weight: 700;
  font-size: 16px;

  span {
    font-size: 20px;
    color: var(--x-text-light);
  }
}

/* skeleton styles */
.skeleton-cards {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  gap: 10px;

  .skeleton-card {
    flex: 1 1 0%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}

@media only screen and (max-width: 768px) {
  .forecast-list {
    flex-wrap: wrap;
    /* flex-direction: column; */
    margin: unset;
  }
  .card:not(:last-child) {
    border-right: unset;
    /* border-bottom: 0.8px solid rgba(154, 209, 237, 0.193); */
  }
  .card {
    padding: 0.8rem 0;
  }

  .card-temo {
    font-weight: 600;
    font-size: 14px;

    span {
      font-size: 18px;
    }
  }
}

@media only screen and (max-width: 580px) {
  .skeleton-cards {
    flex-direction: column;
    flex: none;
  }
  .forecast-list {
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
  }

  .card {
    flex-direction: row;
    justify-content: start;
    column-gap: 10px;
    padding: unset;
    margin: unset;

    .time {
      font-size: 18px;
    }
  }

  .card-temp {
    font-size: 14px;
    text-align: left;
  }
  .card:not(:last-child) {
    border-bottom: 0.8px solid rgba(154, 209, 237, 0.193);
  }

  .card-icon.lg {
    display: none;
  }
  .card-icon.md {
    display: block;
    margin-left: auto;
  }
}

@media only screen and (max-width: 420px) {
  .card-icon {
    height: 55px;
    width: 55px;
  }

  .card .time {
    font-size: 14px;
  }

  .card-temp {
    font-size: 12px;

    span {
      font-size: 14px;
    }
  }
}
