.container {
  /* margin: 1rem 0; */
  flex: none;
}
.info {
  margin-block: 10px;
  text-align: center;
}

.container .main {
  display: flex;
  flex-direction: row;
  column-gap: 0.5rem;
}

.container .main-data h1 {
  font-size: 1.8rem;
}

.container .main-data p {
  font-size: 0.9rem;
  color: #fafafaa0;
  text-transform: capitalize;
}

.container .main > div:first-child {
  flex: 1 1 0%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 20px;
}

.container .icon {
  margin-left: auto;
  height: 170px;
  width: 170px;
}

.temp {
  font-size: 3.1rem;
}

.container .icon img {
  height: 100%;
  width: 100%;
  flex: none;
}

.container .icon.mobile-weather-icon {
  display: none;
}
@media only screen and (max-width: 768px) {
  .temp {
    font-size: 2.8rem;
  }
  .container .main-data h1 {
    font-size: 1.6rem;
  }
}

@media only screen and (max-width: 420px) {
  .temp {
    font-size: 2.4rem;
    /* text-align: center; */
  }
  .container .main-data h1 {
    font-size: 1.4rem;
  }

  .container .icon {
    margin-left: auto;
    height: 140px;
    width: 140px;
  }
  .main-data {
    text-align: center;
  }
  .container .icon {
    display: none;
  }

  .container .icon.mobile-weather-icon {
    margin-left: unset;
    display: block;
    margin: 0 auto;
  }

  .container .main > div:first-child {
    align-items: center;
    row-gap: 10px;
  }
}
