.cards {
  margin: 1.9rem 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  row-gap: 18px;
}

.details-card {
  display: flex;
  flex-direction: row;
  column-gap: 8px;
}
.details-card > div {
  display: flex;
  flex-direction: column;
  row-gap: 0.2rem;

  h5 {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--text-light);
  }

  h4 {
    font-size: 1.6rem;
    font-weight: 700;
  }
}
